*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
      height: 100vh; 
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f7f0e6;
  }
  
  main {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  h1 {
      font-size: 4rem;
      font-weight: bold;
      color: #555;
      margin-bottom: 5rem;
  }
  
  .buttons {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .button-play button{
      width: 9rem;
      height: 9rem;
      border: none;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 5rem;
  }
  
  .buttons-low {
      display: flex;
  }
  
  .button.blue{
      margin-right: 2rem;
  }
  
  .button.red{
      margin-left: 2rem;
  }
  
  .buttons-low button{
      width: 6rem;
      height: 6rem;
      border: none;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 2rem;
  }
  
  .button-yellow {
      background: rgb(230, 230, 89);
  }
  
  .button.blue {
      background: rgb(40, 138, 219);
  }
  
  .button.red {
      background: rgb(219, 71, 71);
  }