*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  

  body {
      height: 100vh; 
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f7f0e6;
  }
  
  main {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
  }
  
  h1 {
      font-size: 3em;
      font-weight: 100;
      color: #555;
      width: 100%;
      padding: 0 0px;
      text-align: center;

  }
h1 .color1 { color: #4ce7bb; }
h1 .color2 { color: #0a0a0a; }
h1 .color3 { color: #d66356; }
h1 .color4 { color: #aaa3a3; }
h1 .color5 { color: #81d2e0; }
h1 .color6 { color: #f7de56; }
h1 .color7 { color: #1d1d1c; }
h1 .color8 { color: #878586; }
h1 .color9 { color: #c03f1e; }
h1 .color10 { color: #97e8f0; }
  
  .buttonContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .button-play{
    filter: drop-shadow(2px 10px 5px rgba(0,0,0,0.5));
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
  }
  .button-play a {
      width: 9rem;
      height: 9rem;
      border: none;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 8rem;
     text-decoration: none;
     text-shadow:0 5px 0px#555;
  }
  .button-play:hover{
    transform: scale(0.8); 
    filter:drop-shadow(10px black) ;
  }
  
  
  .buttons-low {
      display: flex;
      filter: drop-shadow(2px 8px 5px rgba(0,0,0,0.5));
      height: 100%;
      width: 100%;
      transition: 0.5s;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease;
     
  }

    
  
  
  .button.blue{
      margin-right: 2rem;
  }
  
  .button.red{
      margin-left: 2rem;
  }
  
  .buttons-low a{
      width: 6rem;
      height: 6rem;
      border: none;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 2rem;
  }
  
  .button-yellow {
      background: rgb(230, 230, 89);
  }
  
  .button.blue {
      background: rgb(40, 138, 219);
  }
  
  .button.red {
      background: rgb(219, 71, 71);
  }

  
 
  .button {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
  }
  
  .button:hover {
    transform: scale(1.2); 
        
    } 
  
  
  .button:active {
    transform: scale(1.4); 
  }
  
  .button-play:active{
    transform: scale(1); 
  }
