<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <div class="container">
        <header>
            <span class="player-name">Name player</span>
            <div class="music">
                <a class="#" id="audioButton" title="Musica">
                    <i class='bx bxs-volume-full' id="audioIcon" style='color:#ffffff'></i>
                </a>
            </div>
        </header>

        <main>
            <div class="letter-display" id="letter"></div>
            <div class="score-time">
                <span class="score"><i class='bx bxs-star' style='color:#f5db24'></i>0</span>
                <span class="time" id="time">01:00</span>
            </div>
            <input type="text" class="word-input" placeholder="Escribe aquí...">
            <button class="button-participants" style="background-color: green;">
                <i class='bx bx-right-arrow-alt' style='color:#f3eeed'></i>
            </button>

            <!-- Contenedor para mostrar las palabras ingresadas -->
            <div id="wordList">
                <h3>Palabras ingresadas:</h3>
            </div>
        </main>
        <dialog class="modal-time" id="mainModal">
            <img class="img-face-happy" src="11052336-removebg-preview.png" alt="" class="img-face-happy">
            <h1>Name Player</h1>
            <div class="points">
                <img class="points-total" src="estrella.png" alt="">
                <h1>54</h1> <!-- Aquí se actualizará el puntaje -->
            </div>
            <button class="button-next-player" onclick="closeModal()">Next Player</button>
        </dialog>
    </div>
  

  
    <script src="../scripts/index.js"></script>
</body>

</html>
