<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickWords</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

    <div class="container">
        <header>
            <span class="player-name">Name player</span>
            <button class="settings-btn">⚙️</button>

        </header>

        <main>
            <div class="letter-display">A</div>
            <div class="score-time">
                <span class="score">⭐ 54</span>
                <span class="time">01:00</span>
            </div>
            <input type="text" class="word-input" placeholder="Escribe aquí...">
        </main>
    </div>

</body>
</html>