<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego de Palabras</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <header>
            <span class="player-name">Nombre Jugador</span>
            <div class="music">
                <a href="#" id="audioButton" title="Música">
                    <i class='bx bxs-volume-full' id="audioIcon" style='color:#ffffff'></i>
                </a>
            </div>
        </header>

        <main>
            <div class="letter-display" id="letter"></div>
            <div class="score-time">
                <span class="score"><i class='bx bxs-star' style='color:#f5db24'></i>0</span>
                <span class="time" id="time">01:00</span>
            </div>
            <input type="text" class="word-input" placeholder="Escribe aquí...">
        
            <!-- Modal de tiempo agotado -->
             
            <dialog id="mainModal" class="modal">
                <div class="modal-content">
                    <h2>Tiempo Agotado</h2>
                    <p>Jugador: <span class="player-name"></span></p>
                    <p>Puntos obtenidos: <span class="num-points">0</span></p>
                    <button id="nextPlayerBtn" onclick="nextPlayer()">Siguiente Jugador</button>
                    <button id="viewClasificationBtn" onclick="viewClasification()" style="display:none;">Ver Clasificación</button>
                </div>
            </dialog>
        </main>
        
    </div>

    <script src="../scripts/index.js"></script>
</body>
</html>
