<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Generar Inputs</title>
</head>

<body>
    <header>
        <h1>Generar Inputs</h1>
    </header>
    <main>
        <div id="inputs-container"></div>
        <div class="button-play-person">
            <a href="game.html" class="button yellow" title="Jugar"><i class='bx bx-play' style='color:#ffffff'></i></a>
        </div>
        <a href="players.html" class="button-participants button-red">
            <i class='bx bx-left-arrow-alt' style='color:#f3eeed'></i>
        </a>
    </main>

    <script src="../scripts/quantyPerson.js"></script>
</body>

</html>