<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Generar Inputs</title>
</head>

<body>
    <header>
        <h1>
            <span class="letter color1">J</span>
            <span class="letter color2">u</span>
            <span class="letter color3">g</span>
            <span class="letter color4">a</span>
            <span class="letter color5">d</span>
            <span class="letter color6">o</span>
            <span class="letter color7">r</span>
            <span class="letter color8">e</span>
            <span class="letter color10">s</span>
        </h1>
    </header>
    <main>
        <div id="inputs-container"></div>
        <div class="buttonsAction">
         
            <a href="players.html" class="button-participants button-red1">
                <i class='bx bx-left-arrow-alt' style='color:#f3eeed'></i>
            </a>
            <div id="inputs-container"></div>
            <div id="custom-alert-contain"></div>

            <div class="button-play-person">
            <a href="game.html" id="containerPlay" class=" button-play-person " title="Jugar"><i class='bx bx-play startGame ' style='color:#ffffff'></i></a>
           </div>
           </div>
    </main>

    <script src="../scripts/quantyPerson.js"></script>
</body>

</html>