<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Play</title>
</head>

<body>
    <header>
        <h1>
            <h1>
                <span class="letter color1">Q</span>
                <span class="letter color2">u</span>
                <span class="letter color3">i</span>
                <span class="letter color4">c</span>
                <span class="letter color5">k</span>
                <span class="letter color6">W</span>
                <span class="letter color7">o</span>
                <span class="letter color8">r</span>
                <span class="letter color9">d</span>
                <span class="letter color10">s</span>
            </h1>
        </h1>
    </header>
    <main>
        <div class="container-participants">
            <button class="button-participants button-blue" onclick="location.href='persons.html?color=blue&cantidad=2'">
                <i class='bx bx-user' style='color:#f3eeed'></i>
                <i class='bx bx-user' style='color:#f3eeed'></i>
                </button>
            <button class="button-participants button-yellow" onclick="location.href='persons.html?color=yellow&cantidad=3'">
                    <div class=" player ">
                        <i class='bx bx-user' style='color:#f3eeed'></i>
                        <i class='bx bx-user' style='color:#f3eeed'></i>
                    </div>

                    <i class='bx bx-user' style='color:#f3eeed'></i>
                    </button>
            <button class="button-participants button-green" onclick="location.href='./persons.html?color=green&cantidad=4'">
                        <div class=" player ">
                            <i class='bx bx-user' style='color:#f3eeed'></i>
                            <i class='bx bx-user' style='color:#f3eeed'></i>
                        </div>
                        <div class="player ">
                            <i class='bx bx-user' style='color:#f3eeed'></i>
                            <i class='bx bx-user' style='color:#f3eeed'></i>
                        </div>
                        </button>
            <div class="conteiner-back">
                <a href="../index.html " class="button-participants button-red "><i class='bx bx-left-arrow-alt' style='color:#f3eeed' ></i> </a>
            </div>
        </div>
        
    </main>


</body>

</html>